<html>
    <head>
        <title>DayaGold</title>
        <link rel="stylesheet" href="styles.css" />
        <script src="index.js"> </script>
    </head>
    <body>
        <div class="login-container">
            <div class="login-container-items">
              <form method="post" action="registration/login.html">
                <input type="text" onkeypress="return onlyAlphabet(event)" placeholder="Username" name="username" required>
                <input type="password" placeholder="Password" name="pass" required>
                <button type="submit" class="login1-button-adjust">Login</button>
              </form>
            </div>
        </div>
    </body>
</html>